In [48]:
import pandas as pd
import numpy as np

In [49]:
p=pd.read_csv('avg_apprt.csv')
m=pd.read_csv('avg_maison.csv')

In [50]:
m.sort_values(by=['mois_mutation'],inplace=True)
p.sort_values(by=['mois_mutation'],inplace=True)

In [52]:
m['nom_commune']=m['code_departement']+m['nom_commune']
p['nom_commune']=p['code_departement']+p['nom_commune']

In [53]:
m.reset_index(drop=True, inplace=True)
p.reset_index(drop=True, inplace=True)

In [55]:
m.drop(['Unnamed: 0'],axis='columns',inplace=True)
p.drop(['Unnamed: 0'],axis='columns',inplace=True)

In [57]:
m.to_csv('test.csv')
m=pd.read_csv('test.csv')
p.to_csv('test.csv')
p=pd.read_csv('test.csv')

In [58]:
m

,Unnamed: 0,mois_mutation,code_departement,nom_commune,valeur_m2
0,0,2017/01,75,75Paris 14e Arrondissement,15120.430472
1,1,2017/01,91,91Ormoy,2808.219178
2,2,2017/01,91,91Ormoy-la-Rivière,2035.398230
3,3,2017/01,91,91Orsay,4163.955483
4,4,2017/01,91,91Orveau,942.857143
...,...,...,...,...,...
52800,52800,2021/12,77,77Servon,3403.499874
52801,52801,2021/12,77,77Signy-Signets,2454.717720
52802,52802,2021/12,77,77Sivry-Courtry,2691.666667
52803,52803,2021/12,77,77Soisy-Bouy,1572.790698
52804,52804,2021/12,Total,TotalTotal,3980.378053

In [59]:
nombre_trans=pd.DataFrame(m.groupby([ "mois_mutation",'nom_commune'])["valeur_m2"].count())

nombre_trans[nombre_trans['valeur_m2']>1]

Empty DataFrame
Columns: [valeur_m2]
Index: []

In [61]:
list=[None]*len(m)
list=pd.Series(list)
m['croissance']=list.values

In [62]:
commune=m['nom_commune'].unique()
commune

array(['75Paris 14e Arrondissement', '91Ormoy', '91Ormoy-la-Rivière', ...,
       '95Le Plessis-Luzarches', '77Trocy-en-Multien',
       '75Paris 3e Arrondissement'], dtype=object)

In [66]:
for j in range(0,len(commune)):
    da=m[m['nom_commune']==commune[j]]
    da.reset_index(drop=True, inplace=True)
   
    for i in range(1,len(da)):
        
            m.iloc[da.iloc[i,0],5]=(da.iloc[i,4]-da.iloc[i-1,4])/da.iloc[i-1,4]

In [70]:
m.fillna(0, inplace = True)
m.isnull().sum()

Unnamed: 0          0
mois_mutation       0
code_departement    0
nom_commune         0
valeur_m2           0
croissance          0
dtype: int64

In [72]:
list=[None]*len(p)
list=pd.Series(list)
p['croissance']=list.values


commune=p['nom_commune'].unique()
for j in range(0,len(commune)):
    da=p[p['nom_commune']==commune[j]]
    da.reset_index(drop=True, inplace=True)
    for i in range(1,len(da)):
        
        p.iloc[da.iloc[i,0],5]=(da.iloc[i,4]-da.iloc[i-1,4])/da.iloc[i-1,4]

In [74]:
p.fillna(0, inplace = True)
p.isnull().sum()

Unnamed: 0          0
mois_mutation       0
code_departement    0
nom_commune         0
valeur_m2           0
croissance          0
dtype: int64

In [20]:

nombre_trans=pd.DataFrame(m.groupby([ "mois_mutation",'nom_commune'])["valeur_m2"].count())

nombre_trans[nombre_trans['valeur_m2']>1]

Empty DataFrame
Columns: [valeur_m2]
Index: []

In [75]:

p.to_csv('avg_apprt.csv')
m.to_csv('avg_maison.csv')

In [ ]:
### vol et nbr trans

In [76]:
p=pd.read_csv('nombre_trans.csv')
m=pd.read_csv('vol_trans.csv')

In [77]:
m['nom_commune']=m['code_departement']+m['nom_commune']
p['nom_commune']=p['code_departement']+p['nom_commune']

In [78]:
m.head()

,Unnamed: 0,mois_mutation,code_departement,nom_commune,valeur_fonciere
0,0,2017/01,75,75Paris 10e Arrondissement,46754976.50
1,1,2017/01,75,75Paris 11e Arrondissement,89279787.00
2,2,2017/01,75,75Paris 12e Arrondissement,51349036.93
3,3,2017/01,75,75Paris 13e Arrondissement,51404043.00
4,4,2017/01,75,75Paris 14e Arrondissement,57766068.00

In [80]:
list=[None]*len(m)
list=pd.Series(list)
m['croissance']=list.values
commune=m['nom_commune'].unique()
for i in range(0,len(commune)):
    da=m[m['nom_commune']==commune[i]]
    for i in range(1,len(da)):
        
        m.iloc[da.iloc[i,0],5]=(da.iloc[i,4]-da.iloc[i-1,4])/da.iloc[i-1,4]

In [81]:
m.fillna(0, inplace = True)
m.isnull().sum()

Unnamed: 0          0
mois_mutation       0
code_departement    0
nom_commune         0
valeur_fonciere     0
croissance          0
dtype: int64

In [82]:

m.to_csv('vol_trans.csv')